*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Courier New', Courier, monospace;
  margin:20px;
}

h1{
  text-align: center;
}

#userList{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  list-style:none;
  padding: 0;
}

.user-item{
  background-color: #f7f7f7;
  border:1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  width: 200px;
  box-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.user-item h2{
  font-size: 1.1rem;
  margin: 0 0 10px;
}

.user-item p{
  margin: 5px 0;
}